
body {
  background-color: #110a17;
  /* align-items: center;
  height: 100vh;
  margin: 20px 0 0 0; */
}

.canvas-chat {
    display: flex;
    justify-content: center;
}

canvas {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
}

canvas#ctx {
  z-index: -1;
  background: url("/client/images/background/bk_forest_night.png");
  object-fit: contain;
  background-size: contain;
  background-repeat: no-repeat;
}

div.chat {
    width: 400px;
    height: 725px;
    margin: 0 0 0 4px;
    display: none;
}

#chat-text {
    font-family: 'Roboto', sans-serif;
    width: 95%;
    height: 100%;
    overflow-y: scroll;
    background-color: #2b1832;
    color: #FFC107;
    margin: 0 0 4px;
    border: 1px solid #5f210e;
    padding: 15px 10px;
}

#chat-input {
    font-family: 'Roboto', sans-serif;
    background-color: #2b1832;
    color: #FFC107;
    width: 97.75%;
    height: 20px;
    padding: 2px 4px;
    outline: none;
    border: 1px solid #5f210e;
}

#chat-input:hover {
  border: 1px solid #e85122;
}

#chat-input:focus {
  border: 1px solid #e85122;
}

#game-over {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.game-over-msg {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 64px;
    color: #b50000;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-decoration: underline;
}
#winner {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(219, 200, 30, 0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.winner-msg {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 64px;
    color: #b50000;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-decoration: underline;
}