
body {
    background-color: #110a17;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: 'Orbitron', sans-serif;
    color: #970000b3;
    font-size: 60px;
    font-weight: 900;
}

a, a:visited {
    color: #9f9f9f;
    text-decoration: none;
    font-size: 36px;
}

div.play-button {
    display: flex;
    width: 250px;
    height: 80px;
    border: 10px solid #5b1d00;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

div.play-button:hover {
    color: #ffffff;
    border: 10px solid #b50000;
}

.instruction h3, h4 {
    color: yellow;
    text-decoration: underline;
    font-size: 24px;
    line-height: 50%;
}

.instruction p {
    color: #797979;
    margin: 5px 0;
}


.foot-note {
    color: #656565;
    margin: 200px 0 0 0;
}

.bolded-instructions {
  font-weight: 900;
  color: red;
}

.instructions-container {
    display: flex;
    width: 60vw;
    justify-content: space-between;
}

.specter {
    display: flex;
    height: 100px;
    width: 100px;
    align-content: center;
    flex-direction: column;
}

.specter p {
    margin: auto;
    color: red;
    font-weight: 900;
}

.specter img{
    height: 100%;
    width: 100%
}

.stalker {
    display: flex;
    align-content: center;
    flex-direction: column;
    height: 100px;
    width: 100px;
}

.stalker p {
    margin: auto;
    color: red;
    font-weight: 900;
}

.bolded-white {
    font-style: italic;
    color: white;

}